<div class="jumbotron center">
<h1>ZEN NIGHT IS HERE</h1>


<p>welcome to the inform education platform which is called zyc or bwork it is informal but so what</p>
<br>
<br>
</br>
<p> Click Here To Be Part of A Night<%= link_to  "Sign Up", "www.youtube.com", class: "btn btn-success btn-lg" %></p>
</div>
<br>
<br>
<br>
<br>
</br>
<div class="list-group">
<div class="panel panel-danger">
  <a href="#" class="list-group-item active">
    The Bars Tonight
  </a>
  <a href="#" class="list-group-item">Lola Lo</a>
  <a href="#" class="list-group-item">Q Bar</a>
  <a href="#" class="list-group-item">Box</a>
  <a href="#" class="list-group-item">Revolutions</a>
</div>




